header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $color_Black;
  color: $color_White;
  h1 {
    padding-bottom: .5em;
  }
  a {
    color: $color_White;
  }
}

.first_Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/fractal-background.jpg");
  color: $color_White;
}
