.first_Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/black-geometric.jpg");
  background-size: 100% auto;
  color: $color_White;
  > * {
    margin: 1em;
  }
  a {
    text-decoration: none;
    color: $color_White;
  }
  .nav-pills {
    background-color: $color_Green;
    padding: .75em;
    border-radius: .5em;
  }
}

.company_Brief {
  color: $color_Black;
  background-color: $color_White;
  > section {
    margin: 1em;
  }
  h2 {
    text-align: center;

  }
  h3 {
    text-align: center;
  }

  .goto {
    text-align: right;
    margin-right: 1em;
    a {
      text-decoration: none;
    }
  }
}

.team_Class {
  section {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 90%;
    img {
      margin: .2em;
    }
  }
}

.item_Showcase {
  background-color: $color_PaleBlue;
  margin: 1em;
  a {
    display: block;
    text-align: right;
  }
  h2 {
    margin: 1em;
    text-align: center;
  }
  p {
    margin: 1em;
  }
  .emphasis_p {
    text-align: center;
    font-weight: bold;
  }
  nav {
    display: flex;
    margin: 2em;
  }
  .pagination {
    margin: auto;
  }
  .goto {
    text-align: right;
    margin-right: 1em;
    a {
      display: inline;
      text-decoration: none;
    }
  }
}

.icon_Set {
  list-style-type: none;
  padding-left: 0;
  margin: 1em auto;
  display: flex;
  justify-content: space-around;
  width: 90%;
  li {
    position: relative;
    padding-right: 1em;
  }
  a {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 3em;
  }
  .nav-pills {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color_SkyBlue;
    text-align: center;
    border-radius: 40%;
    color: $color_White;
    font-size: 1em;
    width: 50%;
  }
}

.toolbar_Group {
  a{
    display: block;
  }
}

.place_Order {
  width: 96%;
  margin: auto;
  background-color: $color_PaleOrange;
  border-radius: 3px;
  h2 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;

  }
  .panel-default {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: auto;
    background-color: $color_White;
    .panel-heading {
      background-color: $color_SkyBlue;
      color: $color_White;
      text-align: center;
      width: 100%;
      margin-top: 0;
    }
    .form-horizontal {
      width: 96%;
      margin: auto;
      display: flex;
      flex-flow: column wrap;
      .flex_Form_Group {
        display: flex;
      }
    }
  }

  .nav-pills {
    background-color: $color_Green;
    padding: .75em;
    border-radius: .5em;
    text-decoration: none;
    color: $color_White;
    align-self: center;
  }
  .goto {
    align-self: flex-end;
    text-align: right;
    margin-right: 1em;
    a {
      display: inline;
      text-decoration: none;
    }
  }
}

.form-control, .form-control-static {
  display: inline-block;
}


footer {
  background-color: $color_Black;
  color: $color_White;
  box-sizing: border-box;
  padding: 1em;
}
