header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $color_Black;
  color: $color_White;
  h1 {
    padding-bottom: .5em;
  }
  a {
    color: $color_White;
  }
}
