$color_DarkBrown: #333333;
$color_White: #ffffff;
$color_Black: #000000;
$color_SkyBlue: #337ab7;
$color_LightBrown: #555555;
$color_Green: #5cb85c;
$color_DarkGreen: #449d44;
$color_PaleBlue: #d9edf7;
$color_PaleOrange: #ffddcc;
$color_LightGrey: #d3d3d3;
