header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #000000;
  color: #ffffff; }
  header h1 {
    padding-bottom: .5em; }
  header a {
    color: #ffffff; }

.first_Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/black-geometric.jpg");
  background-size: 100% auto;
  color: #ffffff; }
  .first_Section h2 {
    margin-top: 1.5em; }
  .first_Section p {
    width: 90%;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center; }
  .first_Section a {
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 4em; }
  .first_Section .nav-pills {
    background-color: #5cb85c;
    padding: .75em;
    border-radius: .5em; }

.company_Brief {
  color: #000000;
  background-color: #ffffff; }
  .company_Brief > section {
    margin: 1em; }
  .company_Brief h2 {
    text-align: center; }
  .company_Brief h3 {
    text-align: center; }
  .company_Brief a {
    text-align: right;
    margin-right: 1em;
    display: block;
    text-decoration: underline; }

.team_Class section {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 90%; }
  .team_Class section img {
    margin: .2em; }

.item_Showcase {
  background-color: #d9edf7;
  margin: 1em; }
  .item_Showcase a {
    display: block;
    text-align: right; }
  .item_Showcase h2 {
    margin: 1em;
    text-align: center; }
  .item_Showcase p {
    margin: 1em; }
  .item_Showcase .emphasis_p {
    text-align: center;
    font-weight: bold; }
  .item_Showcase nav {
    display: flex;
    margin: 2em; }
  .item_Showcase .pagination {
    margin: auto; }
  .item_Showcase a {
    text-decoration: underline; }

.icon_Set {
  list-style-type: none;
  padding-left: 0;
  margin: 1em auto;
  display: flex;
  justify-content: space-around;
  width: 90%; }
  .icon_Set li {
    position: relative;
    padding-right: 1em; }
  .icon_Set a {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 3em; }
  .icon_Set .glyphicon {
    color: #000000; }
  .icon_Set .nav-pills {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #337ab7;
    text-align: center;
    border-radius: 40%;
    color: #ffffff;
    font-size: 1em;
    width: 50%; }

.toolbar_Group a {
  display: block; }

.place_Order {
  width: 96%;
  margin: auto;
  background-color: #ffddcc;
  border-radius: 3px;
  display: flex;
  flex-direction: column; }
  .place_Order h2, .place_Order h4 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0; }
  .place_Order .panel-default {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 1em auto;
    background-color: #ffffff;
    border-radius: 3px; }
    .place_Order .panel-default .panel-heading {
      background-color: #337ab7;
      color: #ffffff;
      text-align: center;
      width: 100%; }
    .place_Order .panel-default .form-horizontal {
      width: 96%;
      margin: auto;
      display: flex;
      flex-flow: column wrap; }
      .place_Order .panel-default .form-horizontal .flex_Form_Group {
        display: flex; }
        .place_Order .panel-default .form-horizontal .flex_Form_Group .radio_Styling {
          padding-left: 0; }
        .place_Order .panel-default .form-horizontal .flex_Form_Group input[type=number] {
          width: 3em; }
      .place_Order .panel-default .form-horizontal .email_Styling {
        width: 100%;
        outline: 0.2em solid #d3d3d3; }
    .place_Order .panel-default select, .place_Order .panel-default .input_Styling {
      outline: 0.1em solid #d3d3d3; }
  .place_Order .nav-pills {
    background-color: #5cb85c;
    padding: .75em;
    border-radius: .5em;
    text-decoration: none;
    color: #ffffff;
    align-self: center; }
  .place_Order a {
    text-align: right;
    margin-right: 1em;
    display: block;
    text-decoration: underline; }

.form-control, .form-control-static {
  display: inline-block; }

footer {
  background-color: #000000;
  color: #ffffff;
  box-sizing: border-box;
  padding: 1em; }

/*# sourceMappingURL=styles.css.map */
